body {
    font-family: verdana, sans-serif;
    color: aliceblue;
    background-color: black;
}

h1 {
    color: yellow;
}
h2, h3 {
    color: green;
}

ul {
     color: yellow;
}

ol {
    color: brown;
}
